<div class="row">
  <div class="col-12">
    <form [formGroup]="searchEventForm">
      <div class="row">
        <div [class]="isAdvancedSearchCollapsed ? 'flex-fill pl-3' : 'col-12'">
          <div class="form-group">
            <label for="content" i18n="content" class="sr-only">Content</label>
            <input type="text"
                   class="form-control"
                   id="content"
                   appAutofocus
                   placeholder="Enter search query"
                   formControlName="content">
          </div>
        </div>
        <div class="pr-3 ml-2" *ngIf="isAdvancedSearchCollapsed">
          <button type="submit" class="btn btn-outline-primary" (click)="onSearch()" i18n="search">Search
          </button>

          <button type="button" class="btn btn-link"
                  (click)="isAdvancedSearchCollapsed = !isAdvancedSearchCollapsed"
                  [attr.aria-expanded]="!isAdvancedSearchCollapsed"
                  aria-controls="advancedSearch"
                  style="font-size: 0.75rem;"
          >Advanced Search
          </button>
        </div>
        <div class="col-12" id="advancedSearch" [ngbCollapse]="isAdvancedSearchCollapsed">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label i18n="start date" for="startDate">Start Date</label>
                <app-event-datepicker id="startDate" formControlName="startDate"></app-event-datepicker>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="period" i18n="period">Period</label>
                <ng-select [items]="periodOptions"
                           bindLabel="value"
                           bindValue="value"
                           formControlName="period"
                           notFoundText="No items found."
                           i18n-notFoundText
                           id="period"
                           #periodNgSelect
                >
                </ng-select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="catalogs" i18n="catalog">Catalogs</label>
                <ng-select [items]="catalogOptions"
                           bindLabel="value"
                           bindValue="value"
                           [multiple]="true"
                           formControlName="catalogs"
                           notFoundText="No items found."
                           i18n-notFoundText
                           id="catalogs"
                           #catalogNgSelect
                >
                </ng-select>
              </div>
            </div>
            <div class="col-6 text-right mt-auto mb-3">
              <button type="submit"
                      class="btn btn-outline-primary mt-auto"
                      (click)="onSearch()"
                      i18n="search">Search
              </button>

              <button type="button" class="btn btn-link"
                      (click)="isAdvancedSearchCollapsed = !isAdvancedSearchCollapsed"
                      [attr.aria-expanded]="!isAdvancedSearchCollapsed"
                      aria-controls="advancedSearch"
                      style="font-size: 0.75rem;"
              >Basic Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
