<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email" i18n="email">Email</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 formControlName="email"
                 i18n-placeholder="email placeholder"
                 placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password" i18n="password">Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 i18n-placeholder="password placeholder"
                 formControlName="password"
                 placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" i18n="sign in">Sign in</button>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ng-container i18n>Don't have an account yet?</ng-container>
      <a routerLink="/account/signup" i18n>Create one</a>
    </div>
  </div>
</div>
