<div class="row">
  <div class="col-12" style="padding: 0 15px 0 30px;">
    <div class="col-12" style="border: 1px solid #DDDDDD; padding-top: 15px; padding-bottom: 15px; margin-top: 15px;"
         *ngFor="let image of images; let index = index;">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="image{{index}}">
              <ng-container i18n="image">Image</ng-container>
              {{index+1}}</label>
            <input class="form-control" type="file" id="image{{index}}" (change)="changeFile($event, index)">
          </div>
          <div class="form-group">
            <label for="imageDescription{{index}}">
              <ng-container i18n="description">Description</ng-container>
            </label>
            <input class="form-control" type="text" id="imageDescription{{index}}"
                   (change)="changeDescription($event, index)" value="{{image ? image.description : ''}}">
          </div>
          <button class="btn btn-outline-danger btn-sm" (click)="onDelete(index)">Delete</button>
          <span class='ml-2' style="color: #3c763d;" *ngIf="imageUploadStatus[index]">{{ imageUploadStatus[index] }}</span>
        </div>
        <div class="col" *ngIf="image">
          <img style="max-width: 100%;" src="{{getImageUrl(image)}}" alt="image">
        </div>
      </div>
    </div>

    <button class="btn btn-outline-primary mt-3" (click)="addImage()" i18n>
      Add New Image
    </button>
  </div>
</div>

