<ng-template #deleteConfirmationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" [translate]="'deleteBackupConfirmation'">Backup Deletion Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [translate]="'deleteBackupText'">
    Are you sure you want to delete this backup file?
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="c('cancel')" [translate]="'cancel'">Cancel</button>
    <button class="btn btn-outline-danger" [translate]="'delete'" (click)="delete()">Delete</button>
  </div>
</ng-template>
