<div class="card my-2" *ngIf="!isDeleted">
  <div class="card-header">
    <div class="row">
      <div class="col text-left">
        <span>
          {{getReadableDate(data.startDate)}}{{data.startDateAttribute?' ' + data.startDateAttribute.value:''}} ~ {{getReadableDate(data.endDate)}}{{data.endDateAttribute?' ' + data.endDateAttribute.value:''}}
        </span>
      </div>
      <div class="col text-right" *ngIf="!isPreview && getUser() && getUser().isAdmin">
        <a [routerLink]="['', 'admin', 'event', data.id, 'update']" class="btn btn-sm btn-outline-primary">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <button class="btn btn-sm btn-outline-danger ml-2" (click)="onDelete(data.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12" *ngIf="!data.content" i18n="empty event content@@emptyEventContent">
        There is no content for this event.
      </div>
      <div class="col-12" [innerHtml]="sanitizer.bypassSecurityTrustHtml(data.content)" *ngIf="data.content"></div>
    </div>
    <div class="row">
      <div class="col-12 text-center" *ngFor="let image of data.images">
        <div class="row">
          <div class="col-12 event-image-container">
            <img class="event-image"
                 src="{{getImageUrl(image)}}"
                 alt="Image {{ image.id }}">
          </div>
          <div class="col-12 event-image-container">
            {{ image.description }}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <span><ng-container i18n="period">Period</ng-container>: {{data.period ? data.period.value : 'N/A'}}</span>
      </div>
      <div class="col-12">
        <span><ng-container i18n="catalog">Catalogs</ng-container>: {{!data.catalogs || !data.catalogs.length ? 'N/A' : ''}}</span>
        <span style="margin-right: 5px;" class="badge badge-secondary"
              *ngFor="let i of data.catalogs">{{i.value}}</span>
      </div>
    </div>
  </div>
</div>
