<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Description</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, consequuntur doloribus eos
        fugiat maiores minima natus quasi qui quia sed sequi ullam! Delectus eligendi ex quae reprehenderit
        soluta voluptate!
      </p>
      <h3>Authors</h3>
      <p>Fake Name 1</p>
      <p>Fake Name 2</p>
    </div>
  </div>
</div>
