<header class="fixed-top">
  <div class="container" id="headerContainer">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="d-none d-md-block col-2">
      </div>
      <div class="col text-sm-left text-md-center px-0">
        <a class="blog-header-logo text-dark" routerLink="/">
          <h1 class="m-0" style="font-size: 1.5em;">
            {{ title }}
          </h1>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 d-flex justify-content-end align-items-center px-0">
        <a [translate]="'home'" class="btn btn-link pr-0 nav-item" routerLink="/" [class.nav-item-active]="isRouteActive('/')">
          Home
        </a>
        <a [translate]="'events'" class="btn btn-link pr-0 nav-item" routerLink="/app/event/search"
           [class.nav-item-active]="isRouteActive('/app/event/search')">Events</a>
        <a [translate]="'signIn'" class="btn btn-link pr-0 nav-item"
           routerLink="/account/login"
           [style.opacity]="isRouteActive('/account/login') ? 1 : 0.5"
           *ngIf="getUser() === null">Sign
          in</a>
        <div class="dropdown btn btn-link pr-0" *ngIf="getUser() !== null">
          <a class="btn-link dropdown-toggle nav-item" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-sm-inline">{{ getUser().name }}</span>
            <span class="d-sm-none" style="font-size: 1.1rem"><i class="far fa-user-circle"></i></span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a [translate]="'profile'" class="dropdown-item" routerLink="/account/profile">Profile</a>
            <a [translate]="'createEvent'" class="dropdown-item"
               routerLink="/admin/create-event"
               *ngIf="getUser().isAdmin || getUser().isEditor">Create
              Event</a>
            <a [translate]="'importEvents'" class="dropdown-item"
               routerLink="/admin/import-event"
               *ngIf="getUser().isAdmin || getUser().isEditor">Import
              Events</a>
            <a [translate]="'userManagement'" class="dropdown-item"
               routerLink="/admin/user-management"
               *ngIf="getUser().isAdmin">User
              Management</a>
            <a [translate]="'configurePeriods'" class="dropdown-item"
               routerLink="/admin/configure-periods"
               *ngIf="getUser().isAdmin || getUser().isEditor">Configure
              Periods</a>
            <a [translate]="'configureCatalogs'" class="dropdown-item"
               routerLink="/admin/configure-catalogs"
               *ngIf="getUser().isAdmin || getUser().isEditor">Configure
              Catalogs</a>
            <a [translate]="'configureDateAttributes'" class="dropdown-item"
               routerLink="/admin/configure-date-attributes"
               *ngIf="getUser().isAdmin || getUser().isEditor">Configure Date
              Attributes</a>
            <a [translate]="'logout'" class="dropdown-item"
               (click)="logout()"
               routerLink="/">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main" style="margin-top: 75px;">
  <app-notification></app-notification>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col text-center">
        <span class="text-muted mx-2 mx-sm-3">&copy; {{ currentYear }}</span>
        <span class="mx-2 mx-sm-3">
          <a href="{{company.url}}" class="text-muted">{{company.name}}</a>
        </span>
        <div class="d-inline-block" placement="top-right" ngbDropdown>
          <button class="btn btn-link" id="languageDropdown" ngbDropdownToggle><span [translate]="'language'">Language</span>: <span
            *ngIf="currentLanguage">{{ currentLanguage.name }}</span></button>
          <div ngbDropdownMenu aria-labelledby="languageDropdown">
            <button class="dropdown-item" (click)="onLanguageChange(language)"
                    *ngFor="let language of languages">{{ language.name }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
