<header class="fixed-top">
  <div class="container" id="headerContainer">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="d-none d-md-block col-2">
      <!--<a class="text-muted" routerLink="/app/about" i18n="about">About</a>-->
      </div>
      <div class="col text-sm-left text-md-center px-0">
        <a class="blog-header-logo text-dark" routerLink="/">
          <h1 style="font-size: 1.5em;">
            Timeline
          </h1>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 d-flex justify-content-end align-items-center px-0">
        <a class="text-primary mx-3" routerLink="/app/event/search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
          </svg>
        </a>
        <a class="btn btn-sm btn-outline-primary" routerLink="/account/login" *ngIf="getUser() === null" i18n="sign in">Sign
          in</a>
        <div class="dropdown show" *ngIf="getUser() !== null">
          <a class="btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-sm-inline">{{ getUser().name }}</span>
            <span class="d-sm-none" style="font-size: 1.1rem"><i class="far fa-user-circle"></i></span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/admin/create-event" *ngIf="getUser().isAdmin" i18n>Create Event</a>
            <a class="dropdown-item" routerLink="/admin/import-event" *ngIf="getUser().isAdmin" i18n>Import Event</a>
            <a class="dropdown-item" (click)="logout()" routerLink="/" i18n>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main" style="margin-top: 75px;">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col text-center">
        <span class="text-muted mx-2 mx-sm-3">&copy; {{ currentYear }}</span>
        <span class="mx-2 mx-sm-3">
          <a href="{{company.url}}" class="text-muted">{{company.name}}</a>
        </span>
        <!--<span class="mx-2 mx-sm-3">-->
        <!--<a routerLink="/app/about" class="text-muted" i18n="about">About</a>-->
        <!--</span>-->
      </div>
    </div>
  </div>
</footer>
