header {
  width: 100%;
  background: white;
}

#headerContainer {
  max-width: 960px;
}

#headerContainer > .row {
  line-height: 1rem;
  padding: 1rem;
}

.nav-item {
  opacity: 0.5;
}

.nav-item-active, .nav-item:hover, .show > .nav-item {
  opacity: 1;
}

.nav-item.btn-link {
  text-decoration: none;
}
