<div class="container">
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col" [translate]="'accountId'">ID</th>
      <th scope="col" [translate]="'name'">Name</th>
      <th scope="col" [translate]="'email'">Email</th>
      <th scope="col" [translate]="'admin'">Admin</th>
      <th scope="col" [translate]="'editor'">Editor</th>
      <th scope="col" [translate]="'active'">Active</th>
      <th scope="col" [translate]="'action'">Action</th>
      <th scope="col" [translate]="'createdAt'">Created At</th>
      <th scope="col" [translate]="'updatedAt'">Updated At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <input type="checkbox"
               id="adminCheck"
               [checked]="user.isAdmin"
               (change)="grantOrRevokeAdminPrivilege(user, $event)"
               [disabled]="user.id === getCurrentUserId()"
               *ngIf="!user['adminLoading']"
        >
        <img src="/assets/img/loading.svg" alt="loading" style="height: 20px;" *ngIf="user['adminLoading']">
      </td>
      <td>
        <input type="checkbox"
               id="editorCheck"
               [checked]="user.isEditor"
               (change)="grantOrRevokeEditorPrivilege(user, $event)"
               [disabled]="user.id === getCurrentUserId()"
               *ngIf="!user['editorLoading']"
        >
        <img src="/assets/img/loading.svg" alt="loading" style="height: 20px;" *ngIf="user['editorLoading']">
      </td>
      <td>
        <input type="checkbox"
               id="activeCheck"
               [checked]="user.isActive"
               (change)="activateOrInactivateAccount(user, $event)"
               [disabled]="user.id === getCurrentUserId()"
               *ngIf="!user['activeLoading']"
        >
        <img src="/assets/img/loading.svg" alt="loading" style="height: 20px;" *ngIf="user['activeLoading']">
      </td>
      <td>
        <button
          class="btn btn-outline-danger btn-sm"
          [disabled]="user.id === getCurrentUserId()"
          (click)="resetPasswordModal.init(user.id)" [translate]="'resetPassword'">Reset Password</button>
      </td>
      <td>{{ user.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
      <td>{{ user.updatedAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-reset-password-modal #resetPasswordModal></app-reset-password-modal>