<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Is Admin</th>
      <th scope="col">Register At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <input class="form-check-input"
               type="checkbox"
               id="gridCheck1"
               [checked]="user.isAdmin"
               (change)="grantOrRevokeAdminFor(user, $event)"
               *ngIf="!user['isLoading']"
        >
        <img src="/assets/img/loading.svg" alt="loading" style="height: 20px;" *ngIf="user['isLoading']">
      </td>
      <td>{{ user.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
    </tr>
    </tbody>
  </table>
</div>
