<ng-template #resetPasswordModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    Password Reset Confirmation
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12" *ngIf="!newPassword">
        <p>Please be aware that this action cannot be undone. User might lose access to this application.</p>
        <p><strong>Are you sure you want to reset password for this user?</strong></p>
      </div>
      <div class="col-12" *ngIf="newPassword">
        <p>Password has been reset for user (uid: {{ uid }}).</p>
        <p>password: <strong class="text-danger" style="font-size: 1.2rem">{{ newPassword }}</strong></p>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!newPassword">
    <button class="btn btn-outline-secondary" (click)="c('cancel')">Cancel</button>
    <app-button [style]="'btn-outline-danger ml-2'"
                (onclick)="resetPassword($event)">Reset
    </app-button>
  </div>
  <div class="modal-footer" *ngIf="newPassword">
    <button class="btn btn-outline-secondary" (click)="c('cancel')">Close</button>
  </div>
</ng-template>